

html, body, .full {
  height: 100%;
}

.full {
  display: flex;
  flex-direction: column;
}

body {
  padding-top: 60;
  font-family: MontserratRegular;
  padding-left: 40px;
  padding-right: 40px;
}

header {
	margin-top: 30px;
}

.app-logo {
    height: 48px;
}

footer {
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
    font-size: 14px;
    color: #989898;
    width: 100%;
}


.bg-blue {
	background-color: #008080;
}


.btn-blue {
	background-color: #008080;
	border-color: #008080;
	color: #fff;
}

.btn-blue:hover {
	background-color: #4b5fa0; 
	border-color: #4b5fa0;
	color: #fff;
}

.btn-white {
	background-color: #fff; 
	border-color: #fff;
	color: #103488;
}

.btn-white:hover {
	background-color: #dfe3f5; 
	border-color: #dfe3f5;
	color: #2a365e;
}

.center-vertically {
	margin-top: auto;
	margin-bottom: auto;
}


