#loader {
    z-index: 1000;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    text-align: center;
    color: black;
    padding: 270px 0;
}

#layerContainer {
    z-index: 900;
}

a {
    color: #7367F0;
}

a:hover {
    color: #7367F0;
    text-shadow : 0 0 0 #7367F0;
    text-decoration: none;
}

.bg-purple {
    background-color: #7367F0;
}

.text-purple {
    color: #7367F0;
}

.text-gray {
    color: #5E5873;
}

.text-light-gray {
    color: #908AA5;
}

.gray-shadow {
    box-shadow: 0px 10px 15px -5px #DEDEDE;
}

.btn-purple {
    font-size: 14px;
    background-color: #7367F0;
    border-color: #7367F0;
    color: #fff;
}

.btn-purple:hover {
    background-color: #7367F0;
    border-color: #7367F0;
    color: #fff;
    box-shadow: 0px 5px 15px -5px #9185FF;
}

.btn-purple-negative {
    font-size: 14px;
    background-color: #fff;
    border-color: #7367F0;
    color: #7367F0;
}

.btn-purple-negative:hover {
    background-color: #fff;
    border-color: #7367F0;
    color: #7367F0;
    box-shadow: 0px 5px 15px -5px #9185FF;
}

.label {
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: MontserratSemiBold;
    border-radius: 5px;
    font-size: 13px;
}

.label-purple {
    color: #7367F0;
    background-color: #E6E5F8;
}

.label-green {
    color: #28C76F;
    background-color: #E5F7EE;
}


.treeItemActive {
        border-left: 4px solid #7367F0
}
.treeItemInactive {
        border-left: 4px solid #fff
}
